script(type="text/x-template" id="article-template")
  main.main.main_article(v-show="isShown")     
    .hero
      .container
        .hero__title
          h1.hero__text Финансовая грамотность
          .hero__sign
            svg.hero__svg(viewBox="0 0 200 100" preserveAspectRatio="none")
              polygon(points="0,0 0,200 200,0")
            .hero__sign-text для родителей
    .main__content
      .container
        .section.article
          a.article__btn(href="/", v-on:click="goBack") Ко всем статьям
            svg
              use(xlink:href=`${data.cdn}img/sprite/sprite.svg#arrowl`)
          .art(v-show='article.id == 0')
            h1.article__title Зачем детям финансовая грамотность? И как начать о ней говорить.
            .article__time 13.08.17
            .article__content
              p.article__text
                |Деньгами умеют распоряжаться не все взрослые, что уж говорить о детях. 
                |У каждого найдутся знакомые, которые делают крупную покупку, а потом 
                |просят в долг, тратят всю зарплату в первую неделю, годами 
                |безрезультатно копят на новое приобретение. При этом, умение 
                |планировать финансы не связано с уровнем дохода: есть множество семей, 
                |которые при очень скромном достатке живут благополучно. Финансовая 
                |грамотность формируется в детстве, и чем раньше мы начнём рассказывать 
                |ребёнку о ней, тем больше шансов, что он вырастет успешным человеком.
  
              h2.article__subtitle Когда начать?
              p.article__text
                |Начните прямо сейчас, независимо от того, сколько лет ребёнку. Финансовая 
                |грамотность — навык, который оттачивается на собственном опыте, неважно, идёт 
                |ли речь о карманных расходах на сладости или накоплениях на модные кроссовки. 
                |В последующих статьях мы будем подробно говорить о том, как выдавать деньги 
                |на карманные расходы, как научить ребёнка копить и как привить с детства 
                |здоровое отношение к деньгам.

              h2.article__subtitle Как начать?
              p.article__text
                |Начните с малого: проговаривайте вслух, что вы собираетесь купить, за какую 
                |сумму и почему. Сопоставляя товары между собой, вы научите сравнивать и ребенка. 
                |Каждый раз, когда вы расплачиваетесь наличными, дети видят, что деньги меняют на 
                |товары или услуги, и что первые при этом уменьшаются в количестве. 
                |При использовании карт такого эффекта можно добиться, если вам приходят 
                |уведомления о текущем балансе. Для детей важно осознать конечность денег, 
                |столкнуться с определенными ограничениями, но не в виде сухой фразы «денег нет», 
                |а в форме диалога и поиска альтернатив: «Может, выберешь игрушку подешевле?» или 
                |«Сейчас мы не можем это купить, но попробуй накопить и прийти за этим позже». 
              //-ul.article__list
                li.article__item Оптимизирует работу дизайнеров;
                  svg
                    use(xlink:href=`${data.cdn}img/sprite/sprite.svg#arrowr`)
                li.article__item Упрощает взаимодействие дизайнеров с разработчиками;
                    svg
                      use(xlink:href=`${data.cdn}img/sprite/sprite.svg#arrowr`)
                li.article__item Сетка, элементы, поля, отступы - все они кратны 8.
                  svg
                    use(xlink:href=`${data.cdn}img/sprite/sprite.svg#arrowr`)
              //-p.article__text
                span.article__label Для дизайнеров:
                |Эффективность, меньше принимаемых решений по размерам элементов, отступам, которые задают качественный вертикальный, горизонтальный ритмы между элементами.
              //-p.article__text  
                span.article__label Для команды:
                |Упрощение системы коммуникации между дизайнерами и разработчиками (никто не ссорится из-за пикселей). Разработчик легко может отслеживать размеры и отступы, даже на глаз, вместо того, чтобы проводить измерения каждый раз.
              //-p.article__text
                span.article__label Для пользователей:
                |Подсознательно ощущают эстетику макета, отсутствуют полупиксели на используемых ими устройствах.
              .article__img-wrap
                img.article__img.artile__img_one(src=`${data.cdn}/img/rec1.jpg`)
              h2.article__subtitle С чего начать?
              ul.article__list
                li.article__item 
                  |Объясните ребенку, что такое баланс доходов и расходов, и желательно на практике. 
                  |Вручите ему небольшую сумму и поговорите о том, что он хочет купить на нее и 
                  |почему? Знает ли он, сколько потратит и сколько останется? Посчитайте вместе, 
                  |можно даже наглядно изобразить это на бумаге. 
                  svg
                    use(xlink:href=`${data.cdn}img/sprite/sprite.svg#arrowr`)  
                li.article__item
                  |Если окажется, что желанная покупка стоит больше, чем есть у ребенка, 
                  |самое время рассказать о сбережениях. Детям важно уметь копить: это 
                  |научит их проявлять терпение, когда они сталкиваются с ограничениями,
                  | и достигать целей. А ещё желание новой покупки всегда связано с 
                  |выработкой эндорфинов, которые выбрасываются в кровь, когда мы очень 
                  |ждём чего-то приятного. Подробнее о том, как родители могут это 
                  |использовать, мы поговорим в одной из следующих статей.
                  svg
                    use(xlink:href=`${data.cdn}img/sprite/sprite.svg#arrowr`)
                li.article__item
                  |Попробуйте организовать процесс накопления в игровой форме: например, нарисуйте 
                  |лесенку, на вершине которой изображена желанная вещь, а у порога лесенки — 
                  |человечек (можно использовать цветной магнит и разместить это на холодильнике). 
                  |Каждая ступенька — определенная сумма, накапливая которую,   человечек поднимается
                  | выше. Если ребенок не удержался и потратил деньги на мелочи, то и его персонаж 
                  |опускается вниз. Такая наглядность важна с учетом быстрой смены желаний и 
                  |приоритетов у детей. 
                  svg
                    use(xlink:href=`${data.cdn}img/sprite/sprite.svg#arrowr`)
              .article__img-wrap
                img.article__img.artile__img_two(src=`${data.cdn}/img/rec2.jpg`)
              p.artice__quote 
                |Когда мы говорим о финансовой грамотности, то имеем в виду не только 
                |умение сопоставлять доходы и расходы, но и навык постановки 
                |долгосрочных целей, определения приоритетов и формирования прогнозов. 
                |О том, как развивать эти качества у детей, мы будем говорить в течение 
                |следующих двух месяцев. А пока — конкурс историй для родителей!


          .art(v-show='article.id == 1')
            h1.article__title Как выдавать карманные деньги? 7 советов родителям
            .article__time 21.08.2017
            .article__content
              p.article__text
                |Карманные расходы — это первый опыт взаимодействия с деньгами для детей. Без ошибок тут не обходится. Но лучше учиться на ошибках в детстве, располагая небольшой суммой, а во взрослой жизни — пользоваться накопленным опытом. Вот несколько советов для родителей по выдаче карманных денег и развитию финансовой грамотности у школьников.
              h2.article__subtitle Карманные деньги можно и нужно выдавать.
              p.article__text
                |И не стоит с этим тянуть до подросткового возраста. Чем раньше ребёнок получит собственные деньги, тем быстрее осознает, как они работают и как потратить их с пользой. Приурочить выдачу собственных карманных денег можно к началу учебы в школе, когда дети начинают пользоваться транспортом и питаться в школьной столовой.
              h2.article__subtitle Договоритесь о сумме заранее.
              p.article__text
                |Чтобы ребёнок усвоил, что деньги (в том числе, карманные) — исчерпаемый ресурс, их сумма должна быть фиксированной, а выдача, желательно, — регулярной. Посчитайте, сколько ему нужно на проезд, обед в школе и другие ежедневные потребности, заложите небольшую сумму на непредвиденные расходы. Определитесь с периодичностью: раз в 1-2 дня, раз в неделю, раз в месяц. Сроки зависят от возраста ребенка: младшим школьникам сложно планировать бюджет в долгосрочной перспективе, а вот старшим период выдачи можно постепенно увеличивать. 
              .article__img-wrap
                img.article__img.artile__img_one(src=`${data.cdn}/img/rec1.jpg`)
              h2.article__subtitle Не платите за помощь по дому и не лишайте денег в наказание.
              p.article__text
                |Помощь по дому – добровольное проявление заботы. Если ребёнок будет думать, что её можно монетизировать, в какой-то момент он просто перестанет помогать бесплатно. Смысл карманных денег в умении ими распоряжаться, а не добиваться. А лишение денег в наказание даст понять ребенку, что это не его собственность и он за них не отвечает. Как следствие — бездумные траты. Ведь без регулярного притока средств планировать расходы нет смысла.    
              h2.article__subtitle Заведите карту для накоплений и контроля расходов  
              p.article__text
                |Если хотите знать, сколько, где и на что ребёнок потратил. Вам будут приходить SMS-уведомления о транзакциях по детской карте. Её же можно использовать и для накоплений: ребёнку можно установить дневной лимит, а он уже пусть решает, потратить всё или накопить. Это удобно, если школьник планирует крупную покупку в будущем. О детской карте Райффайзен Банка и её преимуществах можно узнать здесь.
              h2.article__subtitle Установите мобильное приложение, которое поможет копить.
              p.article__text 
                |Современным школьникам проще и интереснее осваивать новое с помощью гаджетов. Существуют мобильные приложения, которые позволяют детям самостоятельно контролировать свои траты, отслеживать расходы по карте и планировать бюджет. Приложение 
                span.article__label «Райффайзен-Start»
                |станет отличным проводников в мир личных финансов для ребёнка. 
              .article__img-wrap
                img.article__img.artile__img_two(src=`${data.cdn}/img/rec2.jpg`)
              h2.article__subtitle Расскажите об оптимизации расходов
              p.article__text То есть о том, что можно снижать расходы без ущерба для комфорта. Обсудите с ребенком его траты и вместе поищите альтернативы. Например, у него подключен мобильный тариф с пакетом бесплатных SMS, а он их никогда не отправляет и общается в интернете. Или каждый раз по дороге на тренировку он покупает воду в магазине, хотя можно взять из дома в бутылке и сэкономить серьезную сумму в месяц. По отдельности эти траты кажутся мелочами, но в совокупности могут сберечь значительную часть бюджета. 
              h2.article__subtitle Помогайте с крупными покупками.
              p.article__text Если вы знаете, что своими силами ребёнок не справится, мотивируйте его своей помощью. Заранее договоритесь, что как только он накопит треть или половину необходимой суммы, вы добавите ему оставшуюся часть. Даже такая частично самостоятельная покупка будет полезным опытом для ребенка и доставит ему много удовольствия. 
              p.artice__quote Будьте примером. Дети в первую очередь смотрят на наши действия, а не на слова. Если мы говорим им одно, а делаем другое, они мгновенно это заметят.


          .art(v-show='article.id == 2')
            h1.article__title Как научить ребёнка копить?
            .article__time 29.08.2017
            .article__content
              p.article__text Наличие сбережений — признак финансово грамотного человека. Чтобы научиться копить, нужно обладать терпением и иметь вдохновляющую цель. У маленького ребёнка таких способностей ещё нет, но умение копить начинается с малого и хорошо усваивается в игровой форме. Вот несколько рекомендаций для родителей, чей ребёнок решил накопить на первую самостоятельную покупку.
              h2.article__subtitle Расскажите про семейный бюджет, как он формируется и на что тратится.
              p.article__text Чтобы ребёнок понимал, что такое семейный бюджет, расскажите ему об этом в доступной форме. Если он ещё маленький, пусть нарисует семью, а вы напишите, сколько денег приносит каждый из членов и почему: например, папа получает зарплату, бабушка — пенсию, а старший брат не работает, но он учится, и это тоже важно.   Изобразите основные статьи семейных расходов: дом, одежда, еда, питомцы, сладости и развлечения. Каждую сферу можно обозначить отдельным цветом и, когда ребенок попросит дорогую игрушку, можно наглядно продемонстрировать ему, что сейчас в приоритете более важные семейные покупки, но он может попробовать накопить.  
              h2.article__subtitle Заведите список желаний. Не покупайте вещь по первому требованию ребенка.
              p.article__text Откладывать покупку — очень полезное упражнение. Во-первых, это увеличит степень удовольствия, которое ребёнок получит от долгожданной  вещи, а во-вторых, научит его ждать. А ещё он поймет, что не все желания сбываются по щелчку пальцев и иногда для получения желаемого нужно проявить терпение. Родители же, откладывая покупку, могут увидеть, насколько сильна мотивация ребёнка: часто бывает так, что сегодня он просит дорогой конструктор, а завтра уже забыл о нём. Ведение списка желаний — хороший способ структурировать детские просьбы и научить ребёнка расставлять приоритеты.
              .article__img-wrap
                img.article__img.artile__img_one(src=`${data.cdn}/img/rec1.jpg`)
              h2.article__subtitle Выдавайте на карманные расходы.
              p.article__text Чтобы ребенку было что копить, ему нужны фиксированные карманные расходы. С собственными деньгами детям, как правило, труднее расставаться, чем с родительскими, потому что количество первых ограничено.   
              h2.article__subtitle Заведите карту для накоплений.
              p.article__text На карте удобно хранить большие суммы для крупной покупки. А ещё с неё сложнее снять деньги в случае, если ребёнка накрыл сиюминутный порыв приобрести что-то и распрощаться с мечтой о большой покупке. Банки предлагают удобные карты, которые позволяют родителям следить за транзакциями и отправляют SMS-уведомления о пополнениях и тратах на родительский номер. 
              .article__img-wrap
                img.article__img.artile__img_two(src=`${data.cdn}/img/rec2.jpg`)
              h2.article__subtitle Не платите за хорошие оценки.
              p.article__text Ребенок ходит в школу для знаний, а не для денег. Подмена внутренней мотивации денежным поощрением может сыграть с родителями злую шутку: в какой-то момент ребенок начнет торговаться или вовсе откажется учиться без финансового поощрения. Если хочется сделать школьнику приятно, пусть это будет связано со значительным событием, вроде математической олимпиады или спортивными соревнованиями.
              h2.article__subtitle Превратите накопление в игру.
              p.article__text Нарисуйте гору, лестницу или гоночную трассу, по которой двигается персонаж, по мере того как ребенок накапливает определенную сумму. Это хороший способ мотивировать детей: если человечек уже так близок к заветной цели, как можно потратить все деньги на сладости? Если ребенку тяжело даются накопления, придумайте систему бонусов. Например, после достижения определенной планки сумма может удвоиться за счет родителей. 
          
          
          .art(v-show='article.id == 3')
            h1.article__title Что такое правильное отношение к деньгам? И как привить его ребёнку
            .article__time 7.09.2017
            .article__content 
              p.article__text Финансовая грамотность — это не столько навык копить деньги, сколько умение разумно их тратить, что часто для ребенка оказывается более сложной задачей. Реклама и сиюминутные порывы мешают детям достигать долгосрочных финансовых целей и отделять реальные потребности от того, без чего можно обойтись. Вот что могут сделать родители, чтобы привить детям грамотное отношение к деньгам.
              h2.article__subtitle Станьте для ребенка примером грамотного отношения к деньгам.
              p.article__text Главное — не подавать плохой пример. Как часто ребёнок становится свидетелем спонтанной покупки? Насколько эффективно расходуется семейный бюджет, берете ли вы кредиты? Как формируются ваши сбережения и на что они уходят? Дети учатся у родителей и до определенного возраста интуитивно перенимают всё, не подвергая анализу. 
              .article__img-wrap
                img.article__img.artile__img_one(src=`${data.cdn}/img/rec1.jpg`)
              h2.article__subtitle Отличайте удовольствие от необходимости.
              p.article__text Сопоставлять реальные потребности с навязанными — полезное умение, но им обладают даже не все взрослые. Очередная пара дорогих кроссовок как дань моде не является жизненной необходимостью, а вот сходить к стоматологу или оплатить репетитора нужно прямо сейчас. Деньги имеют свойство кончаться, поэтому в первую очередь их необходимо распределять на действительно важные вещи.
              h2.article__subtitle Научитесь иногда говорить «нет».
              p.article__text Непросто отказать ребёнку в покупке новой вещи, тем более, если в семье на это есть средства.  Но попробуйте спросить: почему ему нужна именно эта игрушка, нет ли альтернатив? Это точно его собственное желание или он просит её, потому что у кого-то из одноклассников такая же, и ему хочется подражать? Проблема многих родителей — неумение сказать «нет». Но если мы будем постоянно соглашаться, это может заметно ударить по кошельку. Не бойтесь сказать, что на это сейчас нет денег, иначе ребенок станет думать, что ваши возможности безграничны.
              h2.article__subtitle Научите ребенка правильному отношению к рекламе.
              p.article__text Расскажите ребенку, как работает реклама: что не всегда рекламируемая конфета — вкусная, а игрушка — интересная. Маленьких детей в рекламе чаще привлекают популярными героями мультфильмов, а подростков — убеждением, что товар поможет им стать взрослее, сильнее и завести много друзей. Детям полезно иметь представление о манипулятивных схемах, это поможет им быть более избирательными.
              .article__img-wrap
                img.article__img.artile__img_two(src=`${data.cdn}/img/rec2.jpg`)
              h2.article__subtitle Дайте ребенку шанс самостоятельно решить финансовые вопросы. 
              p.article__text Если ребенок занял деньги у ровесников, не спешите за него расплачиваться. Пусть он попробует рассчитаться сам, а вы займите позицию наблюдателя. Ребенку нужно будет отказаться от  некоторых удовольствий, и это поможет ему осознать дискомфорт своего положения и в будущем относиться к займам осторожнее. Опыт самостоятельного решения таких проблем пригодится ребёнку в будущем. 




          .article__socials.socials(v-show="isShown") 
            .socials__left
              .socials__show
                span.socials__show-value 120
                svg.socials__show-icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#eye`)
              .socials__like
                span.socials__like-value 5
                svg.socials__like-icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#like`)
            .socials__right
              ul.socials__list
                li.socials__item
                  a.socials__link.socials__link_vk(href="/")
                    svg.socials__icon
                      use(xlink:href=`${data.cdn}img/sprite/sprite.svg#vk`)
                li.socials__item
                  a.socials__link.socials__link_vk(href="/")
                    svg.socials__icon
                      use(xlink:href=`${data.cdn}img/sprite/sprite.svg#fb`)
                li.socials__item
                  a.socials__link.socials__link_vk(href="/")
                    svg.socials__icon
                      use(xlink:href=`${data.cdn}img/sprite/sprite.svg#tw`)
                li.socials__item
                  a.socials__link.socials__link_vk(href="/")
                    svg.socials__icon
                      use(xlink:href=`${data.cdn}img/sprite/sprite.svg#ok`)                  
          form.article__form(v-show="!isCommented && isShown", @submit.prevent="sendReview")
            .article__form-item  
              .artice__form-text  Вспомните, когда вы впервые почувствовали себя финансово независимым: может, это была стипендия или первая зарплата? На что вы потратили эти деньги?
                span Присылайте рассказ о первом опыте покупки на собственные деньги!
            .article__form-item 
              textarea(name="articletext").article__form-textarea
            .article__form-item 
              button.article__form-btn(type="submit") Отправить

          .article__story(v-show="isCommented && isShown") Благодарим за ваш рассказ! Ниже вы можете ознакомиться с историями других участников.   
          .comments(v-show="isCommented && isShown")
            ul.comments__list
              li.comments__item
                .comment
                  .comment__foto
                    img.comment__img(src=`${data.cdn}/img/userpic.png` title="user")
                  .comment__content
                    h3.comment__title Константин Константинопольский
                    p.comment__text Наверняка вы уже слышали о сетке 8pt Grid, если ещё нет, то самое время это сделать, так как она может упростить жизнь вам и вашим разработчикам. Стало довольно распространенным строить сетки с кратностью равной 8. В этой статье я расскажу о своей методике и поделюсь нужными инструментами в конце статьи
                  .comment__like
                    span.comment__like-value 5
                    svg.comment__like-icon
                      use(xlink:href=`${data.cdn}img/sprite/sprite.svg#like`)       
            //-a.comments__btn(href="/") Загрузить еще