script(type="text/x-template" id="start-template")
  main.main(v-show="isShown")     
    .hero
      .hero__title
        h1.hero__text Финансовая грамотность
        .hero__sign
          svg.hero__svg(viewBox="0 0 200 100" preserveAspectRatio="none")
            polygon(points="0,0 0,200 200,0")
          .hero__sign-text для родителей
    .main__content
      ul.cards
        li.cards__item
          section.card(@click="onSelectArticle" data-id="0", :class='{offline: !infoData.articles[0].status}')
            .card__shadow
            .card__img-wrap
              .card__sign 
                .card__sign-text Конкурс внутри!
              img.card__img(src=`${data.cdn}img/card.jpg`)
            .card__content
              h2.card__title Зачем детям финансовая грамотность?
              p.card__text Финансовая грамотность формируется в детстве, и чем раньше мы начнём рассказывать ребёнку о ней, тем больше шансов, что он вырастет успешным человеком.
            footer.card__footer
              .card__info.card__footer-elem Статья пока не доступна
              .card__show.card__footer-elem
                span.card__show-value(v-text="articleList[0].watch")
                svg.card__show-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#eye`)
              .card__like.card__footer-elem
                span.card__like-value(v-text="articleList[0].likes")
                svg.card__like-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#like`)
              //-.card__repost.card__footer-elem
                span.card__repost-value 9
                svg.card__repost-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#share`)
              .card__spend.card__footer-elem Займет 25 минут
        
        li.cards__item
          section.card(@click="onSelectArticle" data-id="1", :class='{offline: !infoData.articles[1].status}')
            .card__shadow
            .card__img-wrap
              .card__sign 
                .card__sign-text Конкурс внутри!
              img.card__img(src=`${data.cdn}img/card2.jpg`)
            .card__content
              h2.card__title Как выдавать карманные деньги? 7 советов родителям
              p.card__text Карманные расходы — это первый опыт взаимодействия с деньгами для детей. Без ошибок тут не обходится.
            footer.card__footer
              .card__info.card__footer-elem Статья пока не доступна
              .card__show.card__footer-elem
                span.card__show-value(v-text="articleList[1].watch")
                svg.card__show-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#eye`)
              .card__like.card__footer-elem
                span.card__like-value(v-text="articleList[1].likes")
                svg.card__like-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#like`)
              //-.card__repost.card__footer-elem
                span.card__repost-value 9
                svg.card__repost-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#share`)
              .card__spend.card__footer-elem Займет 25 минут
        li.cards__item
          section.card(@click="onSelectArticle" data-id="2", :class='{offline: !infoData.articles[2].status}')
            .card__shadow
            .card__img-wrap
              .card__sign 
                .card__sign-text Конкурс внутри!
              img.card__img(src=`${data.cdn}img/card3.jpg`)
            .card__content
              h2.card__title Как научить ребёнка копить?
              p.card__text Наличие сбережений — признак финансово грамотного человека. Чтобы научиться копить, нужно обладать терпением и иметь вдохновляющую цель. 
            footer.card__footer
              .card__info.card__footer-elem Статья пока не доступна
              .card__show.card__footer-elem
                span.card__show-value(v-text="articleList[2].watch")
                svg.card__show-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#eye`)
              .card__like.card__footer-elem
                span.card__like-value(v-text="articleList[2].likes")
                svg.card__like-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#like`)
              //-.card__repost.card__footer-elem
                span.card__repost-value 9
                svg.card__repost-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#share`)
              .card__spend.card__footer-elem Займет 25 минут
        li.cards__item
          section.card(@click="onSelectArticle" data-id="3", :class='{offline: !infoData.articles[3].status}')
            .card__shadow
            .card__img-wrap
              .card__sign 
                .card__sign-text Конкурс внутри!
              img.card__img(src=`${data.cdn}img/card4.jpg`)
            .card__content
              h2.card__title Что такое правильное отношение к деньгам?
              p.card__text Финансовая грамотность — это не столько навык копить деньги, сколько умение разумно их тратить, что часто для ребенка оказывается более сложной задачей. 
            footer.card__footer
              .card__info.card__footer-elem Статья пока не доступна
              .card__show.card__footer-elem
                span.card__show-value(v-text="articleList[3].watch")
                svg.card__show-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#eye`)
              .card__like.card__footer-elem
                span.card__like-value(v-text="articleList[3].likes")
                svg.card__like-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#like`)
              //-.card__repost.card__footer-elem
                span.card__repost-value 9
                svg.card__repost-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#share`)
              .card__spend.card__footer-elem Займет 25 минут                          
        li.cards__item
          a.promo(href="/")
            img.promo__img(src=`${data.cdn}img/promo.jpg`)