script(type="text/x-template" id="start-template")
  main.main(v-show="isShown")     
    .hero
      .hero__title
        h1.hero__text Финансовая грамотность
        .hero__sign
          svg.hero__svg(viewBox="0 0 200 100" preserveAspectRatio="none")
            polygon(points="0,0 0,200 200,0")
          .hero__sign-text для родителей
    .main__content
      ul.cards
        li.cards__item
          section.card(@click="onSelectArticle" data-id="0")
            .card__shadow
            .card__img-wrap
              .card__sign 
                .card__sign-text Конкурс внутри!
              img.card__img(src=`${data.cdn}img/card.jpg`)
            .card__content
              h2.card__title Заголовок какой-то статьи на странице
              p.card__text Расскажем об арт-районах крупных городов: откуда они взялись, как в них попасть и чем заняться. Начнем с Нью-Йорка.
            footer.card__footer
              .card__info.card__footer-elem Статья пока не доступна
              .card__show.card__footer-elem
                span.card__show-value 120
                svg.card__show-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#eye`)
              .card__like.card__footer-elem
                span.card__like-value 5
                svg.card__like-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#like`)
              .card__repost.card__footer-elem
                span.card__repost-value 9
                svg.card__repost-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#share`)
              .card__spend.card__footer-elem Займет 25 минут
        
        li.cards__item
          section.card(@click="onSelectArticle" data-id="1")
            .card__shadow
            .card__img-wrap
              .card__sign 
                .card__sign-text Конкурс внутри!
              img.card__img(src=`${data.cdn}img/card2.jpg`)
            .card__content
              h2.card__title Заголовок какой-то статьи на странице
              p.card__text Расскажем об арт-районах крупных городов: откуда они взялись, как в них попасть и чем заняться. Начнем с Нью-Йорка.
            footer.card__footer
              .card__info.card__footer-elem Статья пока не доступна
              .card__show.card__footer-elem
                span.card__show-value 120
                svg.card__show-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#eye`)
              .card__like.card__footer-elem
                span.card__like-value 5
                svg.card__like-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#like`)
              .card__repost.card__footer-elem
                span.card__repost-value 9
                svg.card__repost-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#share`)
              .card__spend.card__footer-elem Займет 25 минут
        li.cards__item
          section.card(@click="onSelectArticle" data-id="2")
            .card__shadow
            .card__img-wrap
              .card__sign 
                .card__sign-text Конкурс внутри!
              img.card__img(src=`${data.cdn}img/card3.jpg`)
            .card__content
              h2.card__title Заголовок какой-то статьи на странице
              p.card__text Расскажем об арт-районах крупных городов: откуда они взялись, как в них попасть и чем заняться. Начнем с Нью-Йорка.
            footer.card__footer
              .card__info.card__footer-elem Статья пока не доступна
              .card__show.card__footer-elem
                span.card__show-value 120
                svg.card__show-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#eye`)
              .card__like.card__footer-elem
                span.card__like-value 5
                svg.card__like-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#like`)
              .card__repost.card__footer-elem
                span.card__repost-value 9
                svg.card__repost-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#share`)
              .card__spend.card__footer-elem Займет 25 минут
        li.cards__item
          section.card(@click="onSelectArticle" data-id="3")
            .card__shadow
            .card__img-wrap
              .card__sign 
                .card__sign-text Конкурс внутри!
              img.card__img(src=`${data.cdn}img/card4.jpg`)
            .card__content
              h2.card__title Заголовок какой-то статьи на странице
              p.card__text Расскажем об арт-районах крупных городов: откуда они взялись, как в них попасть и чем заняться. Начнем с Нью-Йорка.
            footer.card__footer
              .card__info.card__footer-elem Статья пока не доступна
              .card__show.card__footer-elem
                span.card__show-value 120
                svg.card__show-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#eye`)
              .card__like.card__footer-elem
                span.card__like-value 5
                svg.card__like-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#like`)
              .card__repost.card__footer-elem
                span.card__repost-value 9
                svg.card__repost-icon.card__icon
                  use(xlink:href=`${data.cdn}img/sprite/sprite.svg#share`)
              .card__spend.card__footer-elem Займет 25 минут                          
        li.cards__item
          a.promo(href="/")
            img.promo__img(src=`${data.cdn}img/promo.jpg`)